.dropdown {
padding: 0;
margin: 0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
list-style: none;
background: #72e2e0;
}
ul li{
display: inline-block;
position: relative;
}
ul li a{
display: block;
padding: 20px 25px;
color: rgb(112, 25, 183);
text-decoration: none;
text-align: center;
font-size: 20px;
}
ul li ul.dropdown li{
display: block;
}
ul li ul.dropdown{
width: 100%;
background: rgb(63, 160, 224);
position: absolute;
z-index: 999;
display: none;
}
ul li a:hover{
background: rgb(82, 170, 200);
}
ul li:hover ul.dropdown{
display: block;
}