*{
	border: 0;
	padding: 0;
	color: white;
}

html{
  background-color: #38003c;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
	float: left;
	margin-left: 200px;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

.ptablea table{
	margin: 30px auto;
	border-collapse: collapse;
	margin-top: 60px;
}

.ptablea{
	margin: 0px 0% 30px 0%;
}

.ptablear table{
	margin: 30px auto;
	border-collapse: collapse;
	float: right;
	margin-right: 200px;
}

.ptablear{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: #04f5ff;
	color: #38003c;
    outline: 1px solid #38003c;
}

td{
	outline: 1px solid #38003c17;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: #38003c;
	margin: 30px;
	display: block;
}

.mc{
	text-align: center;
}

.mc td{
	color: #6CABDD;
}

.mc1{
	text-align: center;
}

.mc1 td{
	color: #6CABDD;
}

.sp{
	text-align: center;
}

.sp td{
	color: #132257;;
}

.br{
	text-align: center;
}

.br td{
	color: #e30613;;
}

.li{
	text-align: center;
}

.li td{
	color: #C8102E;;
}

.ne{
	text-align: center;
}

.ne td{
	color: #241F20;;
}

.mu{
	text-align: center;
}

.mu td{
	color: #DA291C;;
}

.ar{
	text-align: center;
}

.ar td{
	color: #EF0107;;
}

.cr{
	text-align: center;
}

.cr td{
	color: #1B458F;;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.mc1:hover{
	background-color: #6CABDD;;
}

.mc1:hover td{
	color: gold;
}

.mc:hover{
	background-color: #6CABDD;;
}

.mc:hover td{
	color: rgb(255, 255, 255);
}

.sp:hover{
	background-color: #132257;
}

.sp:hover td{
	color: #ffffff;
}

.br:hover{
	background-color: #e30613;
}

.br:hover td{
	color: #ffffff;
}

.li:hover{
	background-color: #C8102E;
}

.li:hover td{
	color: #ffffff;
}

.ne:hover{
	background-color: #241F20;
}

.ne:hover td{
	color: #ffffff;
}

.mu:hover{
	background-color: #DA291C;
}

.mu:hover td{
	color: #ffffff;
}

.ar:hover{
	background-color: #EF0107;
}

.ar:hover td{
	color: #ffffff;
}

.cr:hover{
	background-color: #1B458F;
}

.cr:hover td{
	color: #ffffff;
}