*{
	border: 0;
	padding: 0;
	color: white;
}

html{
  background-color: #38003c;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: #04f5ff;
	color: #38003c;
    outline: 1px solid #38003c;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: #38003c;
	margin: 30px;
	display: block;
}

.mc{
	text-align: center;
}

.mc td{
	color: #6CABDD;
}

.sp{
	text-align: center;
}

.sp td{
	color: #132257;;
}

.br{
	text-align: center;
}

.br td{
	color: #e30613;;
}

.li{
	text-align: center;
}

.li td{
	color: #C8102E;;
}

.ne{
	text-align: center;
}

.ne td{
	color: #241F20;;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.mc:hover{
	background-color: #6CABDD;;
}

.mc:hover td{
	color: gold;
}

.sp:hover{
	background-color: #132257;
}

.sp:hover td{
	color: #ffffff;
}

.br:hover{
	background-color: #e30613;
}

.br:hover td{
	color: #ffffff;
}

.li:hover{
	background-color: #C8102E;
}

.li:hover td{
	color: #ffffff;
}

.ne:hover{
	background-color: #241F20;
}

.ne:hover td{
	color: #ffffff;
}