.page_header {
  color: rgb(0, 0, 0);
  padding: 8px;
  text-align: center;
  background: #72e2e0;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: 2px double lightblue;
}
p {
  color: black;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px
}
.special {
  color: orange;
  font-weight: bold;
}
li em {
  color: rebeccapurple;
}
a:link {
  color: rgb(0, 0, 0);
}


a:visited {
  color: rgb(0, 0, 0);
}
.recent_matches {
  color: rgb(0, 0, 0);
  padding: 8px;
  text-align: center;
  background: rgb(255, 255, 255);
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 20px;
}